<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blocco_Note___Progetto_Satta_Riccardo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Blocco_Note___Progetto_Satta_Riccardo.Properties.Settings>
            <setting name="capoautomatico" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nome_font" serializeAs="String">
                <value />
            </setting>
            <setting name="dimensione" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colore_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="barraDiStatoVisibile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="barraCercaVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="barraVaiAVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="primoPiano" serializeAs="String">
                <value>False</value>
            </setting>
        </Blocco_Note___Progetto_Satta_Riccardo.Properties.Settings>
    </userSettings>
</configuration>